{% extends 'index.html' %}

{% block title %}Home{% endblock %}




{% block content %}
{% load static %}

        <main class="site-wrapper">
            <div class="pt-table">
                <div class="pt-tablecell page-home relative" style="background-image: url('img/banner.jpg');">
                    <div class="overlay"></div>

                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                <div class="page-title home text-center">
                                    <img src="{% static 'img/phantom.png' %}" width="100%" height="auto"alt="index-img"/>
                                    <p>Select the 3D object, which you want to calculate</p>
                                </div>

                                <div class="hexagon-menu clear">
                                    <div class="hexagon-item">
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <a href="{% url 'sphere' %}" class="hex-content">
                                            <span class="hex-content-inner">
                                                <span class="icon">
                                                    <img src="https://img.icons8.com/color/50/000000/sphere.png"/>
                                                </span>
                                                <span class="title">Sphere</span>
                                            </span>
                                            <svg viewbox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                        </a>
                                    </div>
                                    <div class="hexagon-item">
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <a href="{% url 'cylinder' %}" class="hex-content">
                                            <span class="hex-content-inner">
                                                <span class="icon">
                                                    <img src="https://img.icons8.com/external-tal-revivo-shadow-tal-revivo/50/000000/external-three-dimensional-cylinder-shape-scanner-isolated-on-a-white-background-printing-shadow-tal-revivo.png"/>
                                                </span>
                                                <span class="title">Cylinder</span>
                                            </span>
                                            <svg viewbox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                        </a>
                                    </div>
                                    <div class="hexagon-item">
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <a href="{% url 'cone' %}" class="hex-content">
                                            <span class="hex-content-inner">
                                                <span class="icon">
                                                    <img src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/50/000000/external-cone-construction-and-tools-kiranshastry-lineal-color-kiranshastry.png"/>                                                </span>
                                                <span class="title">Cone</span>
                                            </span>
                                            <svg viewbox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                        </a>    
                                    </div>
                                    <div class="hexagon-item">
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <a href="{% url 'rectangular' %}" class="hex-content">
                                            <span class="hex-content-inner">
                                                <span class="icon">
                                                    <img src="https://img.icons8.com/office/50/000000/sugar-cube.png"/>                                                </span>
                                                <span class="title">Rectangular Prism</span>
                                            </span>
                                            <svg viewbox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                        </a>
                                    </div>
                                    <div class="hexagon-item">
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <a href="{% url 'triangular' %}" class="hex-content">
                                            <span class="hex-content-inner">
                                                <span class="icon">
                                                    <img src="https://img.icons8.com/emoji/50/000000/triangular-ruler-emoji.png"/>                                                </span>
                                                <span class="title">Triangular Prism</span>
                                            </span>
                                            <svg viewbox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                        </a>
                                    </div>
                                    <div class="hexagon-item">
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <a href="{% url 'pyramid' %}" class="hex-content">
                                            <span class="hex-content-inner">
                                                <span class="icon">
                                                    <img src="https://img.icons8.com/external-icongeek26-linear-colour-icongeek26/70/000000/external-pyramid-desert-icongeek26-linear-colour-icongeek26.png"/>
                                                </span>
                                                <span class="title">Pyramid</span>
                                            </span>
                                            <svg viewbox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                        </a>
                                    </div>
                                    <div class="hexagon-item">
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <a href="{% url 'contact' %}" class="hex-content">
                                            <span class="hex-content-inner">
                                                <span class="icon">
                                                    <img src="https://img.icons8.com/doodle/55/000000/mail-contact.png"/>                                                </span>
                                                <span class="title">Contact&nbspMe</span>
                                            </span>
                                            <svg viewbox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                        </a>
                                    </div>
                                </div> <!-- /.hexagon-menu -->

                            </div> <!-- /.col-xs-12 -->

                        </div> <!-- /.row -->
                    </div> <!-- /.container -->

                </div> <!-- /.pt-tablecell -->
            </div> <!-- /.pt-table -->
        </main> <!-- /.site-wrapper -->
    
{% endblock %}